<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ test | date: "yyyy" }} <a href="https://github.com/zohra-fridhi/cosommi_tounsi_projct" class="font-weight-bold ml-1" target="_blank">TOUNSI-SHOP</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="https://www.creative-tim.com?ref=ada-footer-auth-layout" class="nav-link" target="_blank">Creative TOUNSI-SHOP</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" target="_blank">About Us</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" target="_blank">Blog</a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/zohra-fridhi/cosommi_tounsi_projct/blob/main/LICENSE" class="nav-link" target="_blank">MIT License</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
