  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <div class="card-header"><h5 class="h3 mb-0">Activity feed</h5></div>
          <div class="card-header d-flex align-items-center">
            <div class="d-flex align-items-center"><a><img src="assets/img/theme/team-1-800x800.jpg"
                                                                               class="avatar"></a>
              <div class="mx-3"><a class="text-dark font-weight-600 text-sm"> John Snow </a><small
                class="d-block text-muted"> 3 days ago </small></div>
            </div>
            <div class="text-right ml-auto">
              <button type="button" class="btn btn-sm btn-primary btn-icon"><span class="btn-inner--icon icon-big"><i
                class="ni ni-fat-add"></i></span><span class="btn-inner--text"> Follow </span></button>
            </div>
          </div>
          <div class="card-body"><p class="mb-4"> Personal profiles are the perfect way for you to grab their attention
            and persuade recruiters to continue reading your CV because you're telling them from the off exactly why
            they should hire you. </p><img alt="Image placeholder" src="assets/img/theme/team-1-800x800.jpg"
                                           class=" img-fluid rounded">
            <div class="row align-items-center my-3 pb-3 border-bottom">
              <div class="col-sm-6">
                <div class="icon-actions"><a class="like active"><i class="ni ni-like-2"></i><span
                  class="text-muted"> 150 </span></a><a><i class="ni ni-chat-round"></i><span
                  class="text-muted"> 36 </span></a><a><i class="ni ni-curved-next"></i><span
                  class="text-muted"> 12 </span></a></div>
              </div>
              <div class="col-sm-6 d-none d-sm-block">
                <div class="d-flex align-items-center justify-content-sm-end">
                  <div class="avatar-group"><a class="avatar avatar-xs rounded-circle"><img
                    alt="Image placeholder" src="assets/img/theme/team-1-800x800.jpg"></a><a
                                                                                             class="avatar avatar-xs rounded-circle"><img
                    alt="Image placeholder" src="assets/img/theme/team-1-800x800.jpg" class="rounded-circle"></a><a
                    class="avatar avatar-xs rounded-circle"><img alt="Image placeholder"
                                                                                     src="assets/img/theme/team-1-800x800.jpg"
                                                                                     class="rounded-circle"></a></div>
                  <small class="pl-2 font-weight-bold"> and 30+ more </small></div>
              </div>
            </div>
            <div class="mb-1">
              <div class="media media-comment"><img alt="Image placeholder" src="assets/img/theme/team-1-800x800.jpg"
                                                    class="media-comment-avatar rounded-circle">
                <div class="media-body">
                  <div class="media-comment-text"><h6 class="h5 mt-0">Michael Lewis</h6>
                    <p class="text-sm lh-160"> You have the opportunity to play this game of life you need to appreciate
                      every moment. A lot of people don't appreciate the moment until it's passed. </p>
                    <div class="icon-actions"><a class="like active"><i
                      class="ni ni-like-2"></i><span class="text-muted"> 3 likes </span></a><a><i
                      class="ni ni-curved-next"></i><span class="text-muted"> 2 shares </span></a></div>
                  </div>
                </div>
              </div>
              <div class="media media-comment"><img alt="Image placeholder" src="assets/img/theme/team-1-800x800.jpg"
                                                    class="media-comment-avatar rounded-circle">
                <div class="media-body">
                  <div class="media-comment-text"><h6 class="h5 mt-0">Jessica Stones</h6>
                    <p class="text-sm lh-160"> I always felt like I could do anything. That's the main thing people are
                      controlled by! Thoughts- their perception of themselves! They're slowed down. </p>
                    <div class="icon-actions"><a class="like active"><i
                      class="ni ni-like-2"></i><span class="text-muted"> 10 likes </span></a><a><i
                      class="ni ni-curved-next"></i><span class="text-muted"> 1 share </span></a></div>
                  </div>
                </div>
              </div>
              <div class="media align-items-center mt-5"><img alt="Image placeholder"
                                                              src="assets/img/theme/team-1-800x800.jpg"
                                                              class="avatar avatar-lg rounded-circle mb-4">
                <div class="media-body">
                  <form novalidate="" class="ng-untouched ng-pristine ng-valid"><textarea
                    placeholder="Write your comment" rows="1" class="form-control"></textarea></form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
