<div class="header pb-5 pt-5 pt-lg-5 d-flex align-items-center"
     style="min-height: 300px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row mx-auto text-center">
      <div class="col-lg-12 col-md-10">
        <h1 class="display-2 text-white">Hello to {{store?.title}}</h1>
        <p class="text-white mt-0 mb-5">Browser our product list and buy product online !!</p>
        <!--        <a href="#!" class="btn btn-info">Edit profile</a>-->
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-lg-3">
      <!-- Tags -->
      <div class="card">
        <!-- Card header -->
        <div class="card-header">
          <h3 class="mb-0">Categories</h3>
        </div>
        <!-- Card body -->
        <div class="card-body">
          <div class="tag-input regular-theme">
                <span *ngFor="let category of filterParams.categories" (click)="removeCategoryFromFilters(category)"
                      class="tag badge badge-primary">
                  {{category}}
                  <span class="delete-icon"><svg height="16px" viewBox="0 0 32 32" width="16px"><path
                    d="M17.459,16.014l8.239-8.194c0.395-0.391,0.395-1.024,0-1.414c-0.394-0.391-1.034-0.391-1.428,0  l-8.232,8.187L7.73,6.284c-0.394-0.395-1.034-0.395-1.428,0c-0.394,0.396-0.394,1.037,0,1.432l8.302,8.303l-8.332,8.286  c-0.394,0.391-0.394,1.024,0,1.414c0.394,0.391,1.034,0.391,1.428,0l8.325-8.279l8.275,8.276c0.394,0.395,1.034,0.395,1.428,0  c0.394-0.396,0.394-1.037,0-1.432L17.459,16.014z"
                    fill="#121313"></path></svg>
                  </span>
                </span>
            <div class="row">
              <form [formGroup]="filterForm">
                <input (focusout)="addCategory()" formControlName="tag" class="tag-input-text-input" type="text" placeholder="+ Category">
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- slider      -->
      <div class="card">
        <!-- Card header -->
        <div class="card-header">
          <h3 class="mb-0">Sliders</h3>
        </div>
        <!-- Card body -->
        <div class="card-body">
          <div class="col-lg-12 col-sm-12 mt-4 mt-md-0">
            <div class="mb-3">
              <small class="text-uppercase font-weight-bold">Sliders</small>
            </div>
            <!-- Simple slider -->
            <div class="input-slider-container">
              <div id="input-slider-1" class="input-slider"></div>
            </div>
            <div class="row mt-3">
              <div class="col-12">
                <span *ngIf="sliderValue?.length == 2" id="input-slider-value"
                      class="range-slider-value">${{sliderValue[0]}}- ${{sliderValue[1]}}</span>
              </div>
            </div>
            <!-- Range slider -->
            <div class="mt-5">
              <!-- Range slider container -->
              <div id="input-slider-range"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="(products$ | async) as products" class="col-lg-9">
      <div class="section list-products bg-secondary skew-separator skew-top">
        <div class="container">
          <div class="col-md-8">
            <h2 class="title">You may also like </h2>
          </div>
          <div class="row">
            <div *ngFor="let product of filterProducts(products)" class="col-lg-3 col-md-6">
              <div class="card card-product">
                <div class="card-image">
                  <a href="">
                    <img class="img rounded" src="assets/img/brand/shirt.png">
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="category text-warning">{{product.category}}</h6>
                  <h4 class="card-title">
                    <a href="javascript:;" class="card-link">Gucci</a>
                  </h4>
                  <div class="card-description opacity-8 mt-2">{{ product.description }}</div>
                  <div class="card-footer">
                    <div class="price-container">
                      <span class="price"> ${{ product.price }}</span>
                    </div>
                    <button (click)="toggleAddToShoppingCart(product)"
                            [ngbTooltip]="!product.clicked ? 'Add To shopping Cart':'Remove From Shopping Cart'"
                            class="btn btn-simple btn-warning btn-icon-only btn-sm btn-round pull-right" rel="tooltip"
                            title="" style="float: right; font-size: 16px">
                      <i [ngClass]="!product.clicked ? 'ni-fat-add':'ni-fat-delete'" class="ni" ></i>
                    </button>
                    <button
                            ngbTooltip="Check Out"
                            class="mr-1 btn btn-simple btn-primary btn-icon-only btn-sm btn-round pull-right" rel="tooltip"
                            title="" style="float: right; font-size: 16px">
                      <i class="ni ni-check-bold" ></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
