<div class="wrapper">
  <div class="messaging-container pt-5 mb-1 upper">
    <div class="row flex-row chat">
      <div class="col-lg-4">
        <div class="card bg-secondary">
          <form [formGroup]="searchForm" class="card-header mb-3 ng-untouched ng-pristine ng-valid" novalidate="">
            <div class="input-group input-group-alternative">
              <input (keyup)="filterUser($event.target.value)" class="form-control" placeholder="Search contact" type="text" formControlName="search">
              <div class="input-group-append"><span class="input-group-text"><i
                class="ni ni-zoom-split-in"></i></span></div>
            </div>
          </form>
          <div class="list-group list-group-chat list-group-flush">
            <a *ngFor="let user of usersFiltered"
               [ngClass]="this.selectedUser.id === user.id ? 'active bg-gradient-primary' : null"
               (click)="selectUserChat(user)"
               class="list-group-item">
              <div class="media">
                <img alt="Image" class="avatar shadow" src="assets/img/faces/team-2.jpg">
                <div class="media-body ml-2">
                  <div class="justify-content-between align-items-center">
                    <h6 [ngClass]="this.selectedUser.id === user.id ? 'text-white' : null" class="mb-0 ">{{user.login}}</h6>
                    <div><small class="text-muted"> 1 hour ago </small></div>
                  </div>
                  <span class="text-muted text-small col-10 p-0 text-truncate d-block"> Computer users and programmers </span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card msg-card">
          <div class="card-header d-inline-block">
            <div class="row">
              <div class="col-md-10">
                <div class="media align-items-center"><img alt="Image" class="avatar shadow"
                                                           src="assets/img/faces/christian.jpg">
                  <div class="media-body"><h6 class="mb-0 d-block">{{ selectedUser.login}}</h6><span
                    class="text-muted text-small"> last seen today at 1:53am </span></div>
                </div>
              </div>
              <div class="col-md-1 col-3">
                <div class="dropdown" ngbDropdown>
                  <button aria-expanded="false" aria-haspopup="true" class="btn btn-link text-primary" data-toggle="dropdown"
                          ngbDropdownToggle type="button"><i class="ni ni-settings-gear-65"></i></button>
                  <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu style="left: auto; right: 0px;"><a
                    class="dropdown-item"><i class="ni ni-single-02"></i> Profile </a><a
                    class="dropdown-item"><i class="ni ni-notification-70"></i> Mute
                    conversation </a><a class="dropdown-item"><i class="ni ni-key-25"></i> Block
                  </a><a class="dropdown-item"><i class="ni ni-button-power"></i> Clear chat
                  </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"><i class="ni ni-fat-remove"></i> Delete chat </a>
                  </div><!----></div><!----></div>
              <div class="col-md-1 col-3">
                <button aria-describedby="tooltip-25" class="btn btn-link btn-text" placement="left" tooltip="Video call"
                        type="button"><i class="ni ni-book-bookmark"></i></button><!----></div>
            </div>
          </div>
          <div class="card-body">
            <div class="row mt-4">
              <div class="col-md-12 text-center"><span class="badge text-default"> Wed, 3:27pm </span></div>
            </div>
            <div *ngFor="let msg of messageService.msg" class="row"
                 [ngClass]="auth.user.id === msg.destination ? 'row justify-content-start' : 'justify-content-end text-right'">
              <div class="col-auto">
                <div class="card" [ngClass]="auth.user.id === msg.destination ? '' : 'bg-gradient-primary text-white'">
                  <div class="card-body p-2"><p class="mb-1"> {{msg.text}} </p>
                    <div><small class="opacity-60"><i class="far fa-clock"></i> {{msg.date | date :'short'}} </small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer d-block">
            <div class="form-group">
              <div class="input-group mb-4">
                <input [(ngModel)]="input" class="form-control" placeholder="Your message" type="text" (keydown.enter)="sendMessage()">
                <div class="input-group-append"><span class="input-group-text"><i class="ni ni-send"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<input [(ngModel)]="input" class="form-control" placeholder="message" type="text">-->
<!--<button (click)="sendMessage()" class="btn btn-success">Send</button>-->
<!--<div class="content">-->
<!--  <div *ngFor="let msg of messageService.msg">-->
<!--    {{msg}}-->
<!--  </div>-->
<!--</div>-->

