<body background="assets/img/theme/hh.png">

<div id="blogs" class="cd-section">
  <section class="blogs-1" >
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-8"><h3 class="display-3">User Activity</h3>
        </div>
      </div>
      <div class="row align-items-center" >
<!--        *ngFor="let p of publications$"-->
<!--        *ngFor="; let i = index" [ngClass]="i%3 == 0 ? 'col-lg-6': 'col-lg-3'"-->
        <div *ngFor="let p of publications$ | async ; let i = index" [ngClass]="(i+1)%3 === 0 ? 'col-lg-6': 'col-lg-3'">
          <div data-animation="zooming" class="card card-blog card-background" [routerLink]="['/post-content',{id: p.id}]" >
            <div class="full-background" [ngStyle]="{'background-image': 'url(http://localhost:8081/api/images/' + p.picture + ')' }"></div>
            <a>
              <div class="card-body">
                <div class="content-bottom"><h6 class="card-category text-white opacity-8"> {{p.categoriePublications.title}} </h6><h5
                  class="card-title">{{p.title}}</h5></div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
</body>
