<div class="container">
    <div class="row justify-content-center text-center">
        <div @items *ngFor="let item of items; let i = index;" class="col-lg-4 col-sm-6 col-6">
            <a (click)='itemClicked(item)' class="card filter-card filter-card-{{ i }}">
                <div class="card-body">
                    <i class="fas {{ item.icon }}"></i>
                    <h4>{{ item.title }}</h4>
                    <p class="text-sm">{{ item.value }}</p>
                </div>
            </a>
        </div>
    </div>
</div>
