<div class="section features-7 bg-secondary"  STYLE="background-image:url('assets/img/theme/k.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center mx-auto"><h3 class="display-3">Browser Categories</h3>
        <p class="lead">Select Categorie to show related Publication </p></div>
    </div>
    <div class="row justify-content-center mt-5" >
      <div  class="col-lg-12">
        <div class="row row-grid">
          <div *ngFor="let categorie of categories" class="col-lg-4">
            <div class="card card-lift--hover shadow border-0 categories-card">
              <body background="assets/img/theme/loading.gif">
              <div class="card-body py-5">
                <ng-container [ngSwitch]="categorie.title">
                  <div *ngSwitchCase="'Fashion'" class="icon icon-shape icon-shape-primary rounded-circle mb-4" ><i class="fas fa-vest-patches"></i></div>
                  <div *ngSwitchCase="'Sport'" class="icon icon-shape icon-shape-primary rounded-circle mb-4" ><i class="far fa-dumbbell"></i></div>
                    <div *ngSwitchCase="'Beauty'" class="icon icon-shape icon-shape-primary rounded-circle mb-4" ><i class="fas fa-vest-patches"></i></div>
                      <div *ngSwitchCase="'Food'" class="icon icon-shape icon-shape-primary rounded-circle mb-4" ><i class="far fa-burger-soda"></i></div>
                      <div *ngSwitchDefault class="icon icon-shape icon-shape-light rounded-circle mb-4"><i class="ni ni-bold-down"></i></div>
                </ng-container>
                <h6 class="text-primary text-uppercase"> {{categorie.title}} </h6>
                <p class="description mt-3"> {{categorie.description}} </p>
                <a [routerLink]="['/posts',{id: categorie.id}]" class="btn btn-primary mt-4" > View More </a>
              </div>
              </body>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
