
<div class="page-header header-filter">
  <div class="page-header-image" style="background-image: url('assets/img/theme/team-1-800x800.jpg');"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center"><h2 class="display-2 text-white">Check our latest post!</h2></div>
    </div>
    <div class="row">
      <div class="floating-box bg-default">
        <div class="box text-center">
          <div class="icon icon-shape bg-primary icon-xl rounded-circle text-white"><i class="ni ni-spaceship"></i>
          </div>
        </div>
        <blockquote class="blockquote text-center mt-4"><p class="mb-0 text-white">posted 13 Sept 2019</p>
          <div class="blockquote-footer text-white"> Someone famous in <cite title="Source Title"> Source
            Title </cite></div>
        </blockquote>
        <h2 class="lead text-white p-5"> As a result of growing greenhouse gas emissions, climate models predict that
          our planet will get significantly warmer, that ecosystems will be changed or destroyed, and that enormous
          human and economic costs will be incurred. These scenarios aren't guaranteed, but avoiding them will be very
          hard. We're trying to take small steps to mitigate our impact. </h2></div>
    </div>
  </div>
</div>

<app-categories></app-categories>
<app-latest-post></app-latest-post>
