<div class="page-header header-filter">
  <div class="page-header-image" style="min-height: 300px;background-image: url('assets/img/theme/back1.jpg');"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center" ><h2 class="display-2 text-white">Check our latest post!</h2></div>
    </div>
    <div class="row">
      <div class="floating-box bg-default">
        <div class="box text-center">
          <div class="icon icon-shape bg-primary icon-xl rounded-circle text-white"><i class="ni ni-spaceship"></i>
          </div>
        </div>
        <blockquote class="blockquote text-center mt-4"><p class="mb-0 text-white">My friend! </p>
          <div class="blockquote-footer text-white"> Welcome To Our Forum<cite title="Source Title">   Here we start now,</cite></div>
        </blockquote>
        <h2 class="lead text-white p-5"> If You’re looking for some recent posts then you’re at the right place
          Even if You are interrested by a specific Type of posts ,You will not Waste Your Time .
          We offer You a classification of Posts By categorie  in a perfect and beautiful way .
          </h2></div>
    </div>
  </div>
</div>

<app-categories></app-categories>
<app-latest-post></app-latest-post>
